{% extends 'base_layout.html'%}

{% block content %}

{% for hospital in hospitals %}

<h1>{{ hospital }}</h1>
<br>

    <li>Location: {{ hospital.body }} <br><br><br> </li>


{% endfor %}

<style>
h1 {text-align: center;
font-size:20px;
font-variant: small-caps;
color: DarkSlateBlack;
}
p {text-align: center;}
div {text-align: center;}

li {
  font-variant: small-caps;
  color: DarkSlateGrey
}

    body{
     background-image: url("/static/images/hospital.gif");
       background-repeat: no-repeat;
        background-size: 1920px 950px;
        background-attachment: fixed;
        background-position: center;

    }

</style>
{% endblock %}